@model Post

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Register a new Owner and your respective Dog</p>
    <form asp-controller="Post" asp-action="Add" method="post">
        <label><input asp-for="People.PeopleName" type="text" class="form-control" placeholder="Dog Owner Name" aria-label="Username" aria-describedby="basic-addon1"></label>
        <label><input asp-for="Dog.DogName" type="text" class="form-control" placeholder="Dog Name" aria-label="Username" aria-describedby="basic-addon1"></label>
        <label><input asp-for="Dog.DogBreed" type="text" class="form-control" placeholder="Breed" aria-label="Username" aria-describedby="basic-addon1"></label>
        <button type="submit" class="btn btn-outline-secondary">Register</button>
    </form>
</div>

@section Scripts{
    <partial name="_Scripts" />
}


