@*@model Post
<label asp-for="People.PeopleName"></label>
<input asp-for="People.PeopleName" class="form-control" />
<span asp-validation-for="People.PeopleName"></span>
<label asp-for="Dog.DogName"></label>
<input asp-for="Dog.DogName" class="form-control" />
<span asp-validation-for="Dog.DogName"></span>
<label asp-for="Dog.DogBreed"></label>
<input asp-for="Dog.DogBreed" class="form-control" />
<span asp-validation-for="Dog.DogBreed"></span>
*@